<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="sidebar-nav">
         <!-- START user info-->
         <li class="has-user-block">
            <div id="user-block" class="collapse">
               <div class="item user-block">
                  <!-- User picture-->
                  <div class="user-block-picture">
                     <div class="user-block-status">
                        <img src="<%= image_path('angle/user/02.jpg') %>" alt="Avatar" width="60" height="60" class="img-thumbnail rounded-circle" />
                        <div class="circle circle-success circle-lg"></div>
                     </div>
                  </div>
                  <!-- Name and Job-->
                  <div class="user-block-info">
                     <span class="user-block-name"><%= user_signed_in? ? current_user.email : link_to('Iniciar Sesión', new_user_session_path) %></span>
                     <span class="user-block-role">Designer</span>
                  </div>
               </div>
            </div>
         </li>
         <!-- END user info-->
         <!-- Iterates over all sidebar items-->
         <li class="nav-heading">
            <span>Contenidos</span>
         </li>
         <li class="<%= 'active' if controller?('home') && action?('index') %>">
            <a href="/" title="Single View">
               <em class="fa fa-home"></em>
               <span>Inicio</span>
            </a>
           <%= link_to home_xat_path do %>
           <emc class="fa fa-fw fa-comments"></emc>
             <span>PiggisChat</span>
           <% end %>
         </li>
      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->